@import '../../styleVariables';
@media (min-width: 950px) {
    .user-summury {
        background-color: $background-color;
        color: black;
        flex-grow: 1;
        flex-basis: 80%;
        overflow: hidden;
        text-align: center;
        header {
            background-color: white;
            height: 8%;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            & > div:first-child {
                font-weight: bold;
            }
        }
        .user-summury-content {
            display: flex;
            justify-content: center;
            margin: 40px 20px;
            & > * {
                border: 1px solid $border-color;
                background-color: white;
                flex-basis: 55%;
                height: 80vh;
            }
            
        }
    }
}
