@import '../../styleVariables';
.workspaces-nav {
    border-right: 1px solid $border-color;
}
@media (min-width: 950px) {
    .workspaces-nav {
        overflow: auto;
        scrollbar-color: $primary-color white;
        flex-basis: 15%;
        // width: 15%;
        // max-width: 15%;
        // min-width: 15%;
        // border: 1px solid red;
        .cuurent-workspaces,
        .cuurent-members {
            margin: 0 auto;
            margin-top: 20px;
            text-align: left;
            &>span {
                display: block;
                font-size: 20px;
                padding-left: 15px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .workspaces-choice,
            .connected-members {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                .workspace-choosed,
                .add-workspace,
                .add-workspace-form,
                .member {
                    color: black;
                    
                    cursor: pointer;
                    transition: 0.1s;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px;
                    text-align: center;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    width: 90%;
                    border: 1px solid $border-color;
                }
                .workspace-choosed:hover,
                .member:hover {
                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
                .add-workspace {
                    cursor: pointer;
                    border: 1px dashed $primary-color;
                }
            }
        }
    }
}
